 .highlight {
  background-color: rgba(255, 0, 221, 0.7);
  
 }
 .error {
  background-color: lightcoral;
  border: red;
 }

body {
  text-align: center;
  margin-top: 25%;

  background-image: url('images/background.png');

  font-family: 'Press Start 2P', cursive;
  font-size: 20px;

  color: rgb(113, 255, 66);

}

input {
    background-color: rgb(255, 255, 0);
    color: rgb(123, 0, 255);

    width: 200px;
    height: 50px;

    border: none;
    font-size: 30px;

    text-align: center;
}

button {
    background-color: rgb(251, 0, 255);
    border-radius: 10px;
    color: white;
    width: 60px;
    height: 40px;
    border: none;
    margin-top: 20px;

    font-size: 17px;
}

.modal {
    position: absolute;
    display: none;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal_body {
    position:absolute;
    top:50%;
        

    width:400px; 
    height:300px;

    padding:40px;  

    text-align: center;

    background-image: url('images/background.png');
    color: rgb(0, 255, 0);

    border-radius:10px;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);

    transform:translateY(-50%);

}

.modal_msg{
    margin-top: 15%;
}

.modal_icon{
    width: 70px;
    height: auto;
}

.icon_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 50px;
    height: auto;
    margin: 5px;
    margin: 5px;
}
.error_good_Msg {
    position: relative;
}
