<<<<<<< HEAD
 .highlight {
  background-color: rgba(255, 0, 221, 0.7);
  
 }
 .error {
  background-color: lightcoral;
  border: red;
 }

body {
  text-align: center;
  margin-top: 25%;

  background-image: url('images/background.png');

  font-family: 'Press Start 2P', cursive;
  font-size: 20px;

  color: rgb(113, 255, 66);

}

input {
    background-color: rgb(255, 255, 0);
    color: rgb(123, 0, 255);

    width: 200px;
    height: 50px;

    border: none;
    font-size: 30px;

    text-align: center;
}

button {
    background-color: rgb(251, 0, 255);
    border-radius: 10px;
    color: white;
    width: 60px;
    height: 40px;
    border: none;
    margin-top: 20px;

    font-size: 17px;
}

.modal {
    position: absolute;
    display: none;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal_body {
    position:absolute;
    top:50%;
        

    width:400px; 
    height:300px;

    padding:40px;  

    text-align: center;

    background-image: url('images/background.png');
    color: rgb(0, 255, 0);

    border-radius:10px;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);

    transform:translateY(-50%);

}

.modal_msg{
    margin-top: 15%;
}

.modal_icon{
    width: 70px;
    height: auto;
}

.icon_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 50px;
    height: auto;
    margin: 5px;
    margin: 5px;
}
.error_good_Msg {
    position: relative;
=======
h1 {
    color: blue;
    text-align: center;
}
body{
    font-family: helvetica, arial, sans-serif;
}
#left-container {
    left: 0px;
}
#right-container{
    right: 0px;
}
.container {
    background-color: #eee;
    width: 15%;
    top: 0px;
    position: absolute;
    height: 100%;
    padding: 10px;
    z-index: 0;
}
.plant-holder {
    position: relative;
    height: 13%;
    left: -10px;
}
.plant {
    position: absolute;
    width: 150px;
    height: auto;
    z-index: 2;
}
.jar-walls {
    height: 80%;
    width: 60%;
    background-color: #d1e1df;
    border-radius: 1;
    position: absolute;
    bottom: 0.5%;
    left: 20%;
    opacity: 0.5;
    z-index: 1;
    border-radius: 1rem;
    pointer-events: none;
}
.jar-top{
    width: 50%;
    height: 5%;
    background-color: #d2ae78;
    position: absolute;
    bottom: 79%;
    left: 25%;
    opacity: 0.7;
    z-index: 1;
    border-radius: 1rem;
    pointer-events: none;
}
.jar-bottom {
    width: 50%;
    height: 1%;
    background-color: #d1e1df;
    position: absolute;
    bottom: 0%;
    left: 25%;
    opacity: 0.7;
    pointer-events: none;
}
.dirt {
    width: 60%;
    height: 5.1%;
    background: #3a241d;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 1%;
    left:20%;
    opacity: 0.7;
    z-index: -1;
    pointer-events: none;
}
.jar-glossy-long{
    width: 30px;
    height: 200px;
    background-color: white;
    position: absolute;
    border-radius: 2rem;
    top: 50%;
    left: 5%;
    opacity: 0.5;
}
.jar-glossy-short{
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    border-radius: 2rem;
    top: 40%;
    left: 5%;
    opacity: 0.5;
}

#terrarium {
  position: relative;
  display: block;
  width: 700px;
  height: 700px; 
  margin: 10px auto;
  margin-top: -90px;
  transform: none !important;
}

.jar-walls, .jar-top, .jar-bottom, .dirt, .jar-glossy-long, .jar-glossy-short {
  pointer-events: none;
  transform: none !important;
  z-index: 10;
}

.plant {
  position: absolute;
  width: 120px !important;
  height: auto !important;
  max-width: none !important;
  transform: none !important;
  z-index: 2;
>>>>>>> feature/terrarium
}
